In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("ids.csv")

In [3]:
data.head()

   Index  Group       ID        Name                     InChIKey
0      0      1  DB00014   Goserelin  BLCLNMBMMGCOAS-URPVMXJPSA-N
1      1      1  DB00104  Octreotide  DEQANNDTNATYII-OULOTJBUSA-N
2      2      1  DB00188  Bortezomib  GXJABQQUPOEUTA-RDJZCZTQSA-N
3      3      1  DB00242  Cladribine  PTOAARAWEBMLNO-KVQBGUIXSA-N
4      4      1  DB00261  Anagrelide  OTBXOEAOVRKTNQ-UHFFFAOYSA-N

In [4]:
data

      Index  Group       ID            Name                     InChIKey
0         0      1  DB00014       Goserelin  BLCLNMBMMGCOAS-URPVMXJPSA-N
1         1      1  DB00104      Octreotide  DEQANNDTNATYII-OULOTJBUSA-N
2         2      1  DB00188      Bortezomib  GXJABQQUPOEUTA-RDJZCZTQSA-N
3         3      1  DB00242      Cladribine  PTOAARAWEBMLNO-KVQBGUIXSA-N
4         4      1  DB00261      Anagrelide  OTBXOEAOVRKTNQ-UHFFFAOYSA-N
...     ...    ...      ...             ...                          ...
5158   5158     -1  DB00501      Cimetidine  AQIXAKUUQRKLND-UHFFFAOYSA-N
5159   5159     -1  DB00548    Azelaic Acid  BDJRBEYXGGNYIS-UHFFFAOYSA-N
5160   5160     -1  DB00779  Nalidixic Acid  MHWLWQUZZRMNGJ-UHFFFAOYSA-N
5161   5161     -1  DB01137    Levofloxacin  GSDSWSVVBLHKDQ-JTQLQIEISA-N
5162   5162     -1  DB02709     Resveratrol  LUKBXSAWLPMMSZ-OWOJBTEDSA-N

[5163 rows x 5 columns]

In [5]:
from urllib.request import urlopen
from urllib.parse import quote

def CIRconvert(ids):
    try:
        url = 'http://cactus.nci.nih.gov/chemical/structure/' + quote(ids) + '/smiles'
        ans = urlopen(url).read().decode('utf8')
        return ans
    except:
        return 'Did not work'

identifiers  = data["Name"]

In [ ]:
for ids in identifiers :
    smiles = (ids, CIRconvert(ids))
    data = data.append({'Smiles' : smiles}, ignore_index = True)
    data["Smiles"] = pd.Series(smiles)

In [ ]:
data.head()

,Index,Group,ID,Name,InChIKey,Smiles
0,0,1,DB00014,Goserelin,BLCLNMBMMGCOAS-URPVMXJPSA-N,Resveratrol
1,1,1,DB00104,Octreotide,DEQANNDTNATYII-OULOTJBUSA-N,Oc1ccc(cc1)C=Cc2cc(O)cc(O)c2
2,2,1,DB00188,Bortezomib,GXJABQQUPOEUTA-RDJZCZTQSA-N,NaN
3,3,1,DB00242,Cladribine,PTOAARAWEBMLNO-KVQBGUIXSA-N,NaN
4,4,1,DB00261,Anagrelide,OTBXOEAOVRKTNQ-UHFFFAOYSA-N,NaN

In [ ]:
data.to_csv('Smiles.csv')